auto-install-peers=true
strict-peer-dependencies=false
# public-hoist-pattern[]=@antv/gatsby-theme-antv
# public-hoist-pattern[]=svg-react-loader
# public-hoist-pattern[]=shallow-compare
# public-hoist-pattern[]=insert-css
# public-hoist-pattern[]=gatsby-react-router-scroll
# public-hoist-pattern[]=gatsby-link
# public-hoist-pattern[]=gatsby-legacy-polyfills
# public-hoist-pattern[]=@mikaelkristiansson/domready
# public-hoist-pattern[]=mitt
# public-hoist-pattern[]=prop-types
shamefully-hoist=true