auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=d3-*
public-hoist-pattern[]=@types/react
public-hoist-pattern[]=@types/react-dom
public-hoist-pattern[]=npm-run-all
public-hoist-pattern[]=rimraf