
## <%= info.chartName %>

<div class="gallery-item-box">
  <% info.demos.forEach(function(item){ %>
  <a href="/demos/<%= info.path.split('#')[0] + '#' + item.title.zh %>" >
    <img src="<%= item.screenshot %>" height="auto" />
    <p style="color: #293c55;margin: 0; margin-top: 12px;"><%= item.title.zh %></p>
  </a>
<% }); %>
</div>
